<mat-card *ngIf="login">
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form  >
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" >
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" >
    </mat-form-field>
  </p>

  <p  class="error">
    
  </p>

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>

<!-- Registration card -->
<mat-card *ngIf="!login">
  <mat-card-title>Create an account</mat-card-title>
<mat-card-content>
<form  >
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="First name" >
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Last Name" >
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Create Username" >
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Create password" >
  </mat-form-field>
</p>

<p  class="error">
  
</p>

<div class="button">
  <button type="submit" mat-button>Create</button>
</div>

</form>
</mat-card-content>
</mat-card>